<style>
  .message-content {
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p> {{name}}!</p>
  <br>
  <p>Recebemos uma solicitação de senha para a  sua  conta de usuário.</p>
  <p>Se você foi você que solicitou, clique no link abaixao para escolher uma nova senha</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Caso você não  tenha realizado essa solicitação,  descarte este email.</p>
  <p>Obrigado</p>
  <br>
  <p>Obrigado dtmoney</p>
</div>